<h1>Waiter Availability</h1>
<h2>Select Any Day shift</h2>

<form class="Days" action="/waiter/{{name}}" method="post">
  <input type="checkbox" name="WeekDays" value="Sunday" {{#if days.Sunday}}checked{{/if}}>Sunday</label>
  <input type="checkbox" name="WeekDays" value="Monday" {{#if days.Monday}}checked{{/if}}>Monday</label>
  <input type="checkbox" name="WeekDays" value="Tuesday" {{#if days.Tuesday}}checked{{/if}}>Tuesday</label>
  <input type="checkbox" name="WeekDays" value="Wednesday" {{#if days.Wednesday}}checked{{/if}}>Wednesday</label>
  <input type="checkbox" name="WeekDays" value="Thursday" {{#if days.Thursday}}checked{{/if}}>Thursday</label>
  <input type="checkbox" name="WeekDays" value="Friday" {{#if days.Friday}}checked{{/if}}>Friday</label>
  <input type="checkbox" name="WeekDays" value="Surtaday" {{#if days.Surtaday}}checked{{/if}}>Surtaday</label>

  <div class="button1">
    <input type="submit" value="submit">
  </div>
  <p>
  {{#each waitorList}}
  {{name}}
  {{/each}}
  </p>

<!-- {{messages.error}} -->
</form>
